<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @receiver.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @receiver.number %>
</p>

<p>
  <strong>Activation:</strong>
  <%= @receiver.activation %>
</p>

<%= link_to 'Edit', edit_receiver_path(@receiver) %> |
<%= link_to 'Back', receivers_path %>
