<%= form_for(@meeting) do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :callers_id %><br>
    <%= f.text_field :callers_id %>
  </div>
  <div class="field">
    <%= f.label :receivers_id %><br>
    <%= f.text_field :receivers_id %>
  </div>
  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.number_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :call_type %><br>
    <%= f.check_box :call_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
