<div class="col-md-6 col-md-offset-3">
  <% if @user.present? %>
    <h1>Welcome, <%= @user.name %></h1>
  <% else %>
    <h1>Listing meetings</h1>
  <% end %>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Caller</th>
      <th>Receiver</th>
      <%#<th>Call Type</th>%>
      <th>Starts At</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.order_id %></td>
        <td><%= meeting.caller.name %></td>
        <td><%= meeting.receiver.name %></td>
        <!--td><%#= meeting.caller.call_type  to <%= meeting.receiver.call_type %></td>--%>
        <td><%= meeting.start_time.to_formatted_s(:time)%> <%= meeting.start_date.to_formatted_s(:long) %></td>
        <td><%= meeting.duration %></td>
        <td><%= link_to 'Show', meeting, class: "btn btn-info" %></td>
        <% if params[:caller_id] %>
        <td><%= link_to 'Call', call_path(:meeting_id => meeting.id), class: "btn btn-success" %>
          <% elsif params[:receiver_id] %>
            <td><%= link_to 'Call', call_path(:meeting_id => meeting.id, :u => "p"), class: "btn btn-success" %></td>
          <% else %>
            <td></td>
        <% end %>
      </tr> 
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meeting', new_meeting_path %>
</div>
