
  <%= form_for(@caller, html: { class: "form-horizontal" }) do |f| %>
  <% if @caller.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@caller.errors.count, "error") %> prohibited this caller from being saved:</h2>

      <ul>
      <% @caller.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-3" %>
    <div class="col-sm-9">
    <%= f.text_field :name, class: "form-control" %></div>
  </div>
  <div class="form-group">
    <%= f.label :number, class: "col-sm-3" %>
    <div class="col-sm-9">
    <%= f.number_field :number, class: "form-control" %></div>
  </div>
  <div class="form-group">
    <%= f.label :activation, class: "col-sm-3" %>
    <div class="col-sm-2">
    <%= f.check_box :activation %></div>
    <%= f.submit "Create Caller", class: "btn btn-success" %>
  </div>
<% end %>
