<div class="col-md-6 col-md-offset-3">
<h1>Listing callers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Activation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @callers.each do |caller| %>
      <tr>
        <td><%= caller.name %></td>
        <td><%= caller.number %></td>
        <td><%= caller.activation %></td>
        <td><%= link_to 'Show', caller %></td>
        <td><%= link_to 'Edit', edit_caller_path(caller) %></td>
        <td><%= link_to 'Destroy', caller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caller', new_caller_path %>
</div>
